/*
  Quite empty, usually InuitCSS would be used: https://github.com/inuitcss/inuitcss
*/

html {
  font-family    : 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

figure {
  margin: 0;

  img {
    width: 100%;
  }
}